.logo {
    font-size: 25px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0 15px;
}

.logo-one {
    color:  rgb(39, 153, 224);
}

.logo-two {
    color:  rgb(2, 72, 116);
}