.nav-container {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    flex-wrap: wrap;
}

.nav-item {
    color:  rgb(0, 157, 255);
    font-size: 20px;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 10px;
}

.nav-item:hover {
    background-color: rgb(0, 123, 255);
    color: white;
}